.list-group-item:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.list-group-item {
  color: #393e46;
  background-color: #e1dddd;
  font-size: 26;
}

.list-group {
  display: flex;
  flex-direction: column;
  /* padding-left: 0;
  margin-bottom: 0;
  border-radius: .25rem; */
  text-align: center;
}